[Unit]
Description=docker container %i
Documentation=man:docker(1)
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker start -a %i
ExecStop=/usr/bin/docker stop %i
Restart=on-failure
SuccessExitStatus=2

[Install]
WantedBy=multi-user.target
